.card {
  position: relative;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #334e58;
  color: #fff;
}

.btn:hover {
  background-color: #A69888;
  color: #222;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 10px;
}

.description-text {
  margin: 0;
}
.closeModal {
  font-size: 20px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	font-weight: bold;
	border: 0;
  color: #fff;
}
